Package: libyuv
Version: 0.0.1281-1~xenial+1
Architecture: arm64
Maintainer: William King <william.king@quentustech.com>
Installed-Size: 9
Section: libs
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
